<form action="/datve" method="POST" target="_blank">
    <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-level-up w3-margin-right-sm"></i> Điểm đi :</label>
            <div>
                <select class="w3-select w3-border" name="select-diem-di">
                    <optgroup label="Trong nước">
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="TP HCM">TP HCM</option>
                        <option value="Đà Nẵng">Đà Nẵng</option>
                        <option value="Nha Trang">Nha Trang</option>
                        <option value="Hải Phòng">Hải Phòng</option>
                        <option value="Phú Quốc">Phú Quốc</option>
                    </optgroup>
                    <optgroup label="Ngoài nước">
                        <option value="Bangkok">Bangkok</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Vũ Hán">Vũ Hán</option>
                        <option value="Sydney">Sydney</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="w3-half">
            <label><i class="fa fa-level-down w3-margin-right-sm"></i> Điểm đến :</label>
            <div>
                <select class="w3-select w3-border" name="select-diem-den">
                    <optgroup label="Trong nước">
                        <option value="TP HCM">TP HCM</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="Đà Nẵng">Đà Nẵng</option>
                        <option value="Nha Trang">Nha Trang</option>
                        <option value="Hải Phòng">Hải Phòng</option>
                        <option value="Phú Quốc">Phú Quốc</option>
                    </optgroup>
                    <optgroup label="Ngoài nước">
                        <option value="Bangkok">Bangkok</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Vũ Hán">Vũ Hán</option>
                        <option value="Sydney">Sydney</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="w3-row-padding" style="margin:8px -16px;">
        <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-male w3-margin-right-sm"></i> Họ và tên :</label>
            <input class="w3-input w3-border" type="text" placeholder="Nguyễn Văn A" name="input-ve-ten">
        </div>
        <div class="w3-half">
            <label><i class="fa fa-phone w3-margin-right-sm"></i> SDT :</label>
            <input class="w3-input w3-border" type="number" placeholder="0987 456 789" name="input-ve-sdt">
        </div>
    </div>
    <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-check w3-margin-right"></i>
        Đặt vé</button>
</form>