<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/w3.css">
    <title>Test NodeJS</title>
</head>
<body>
    <button class="w3-button w3-red">This is a test EJS</button>
    <br>
    <img src="images\test.png" alt="">
</body>
</html>